*
{
    margin: 0;
    padding: 0;
}
.container
{
    width: 100%;
}
.container-navbar
{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
nav.navbar
{
    display: inline-block;

    width: 100%;
    height: 80px;

    border: 0;
    background-color: white;
}
nav.navbar > .container
{
    width: 80%;
}
.navbar-header > a > img
{
    height: 70px;
}
.navbar-nav > li > a
{
    font-size: 14px;

    padding-top: 40px;

    color: #2d3e50!important;
}
.navbar-nav > li > a:hover
{
    transition: width .3s!important;

    color: #86bc42!important;
    border-bottom: 2px solid #86bc42;
}
.navbar-header
{
    margin: 0;
}
.container-header
{
    height: 300px;

    background-image: url(img/fon.png);
}
.container-header > h1,
.container-header > p
{
    text-align: center;

    color: white;
}
.container-header > h1
{
    font-size: 50px;

    padding-top: 80px;
}
.container-header > p
{
    font-size: 15px;
}
.conteiner-content
{
    width: 100%;
    margin: 0;
    padding: 0;

    text-align: right;
}
.content-title-left-block
{
    position: relative;
    top: -30px;

    float: left;

    width: 20%;
    height: 80px;

    background-color: #86bc42;
}
.content-title-left-tr
{
    position: relative;
    top: -30px;

    float: left;

    width: 0;
    height: 0;

    border-top: 80px solid #86bc42;
    border-right: 80px solid transparent;
    border-left: 0 solid transparent;
}
.content-title-right
{
    text-align: right;
}
.content-title-right-tr
{
    position: relative;
    top: -35px;
    left: 4px;

    display: inline-block;

    width: 0;
    height: 0;

    border-right: 0 solid transparent;
    border-bottom: 100px solid #86bc42;
    border-left: 100px solid transparent;
}
.content-title-right-block
{
    position: relative;
    top: -35px;

    display: inline-block;

    width: 60%;
    height: 100px;

    background-color: #86bc42;
}
.btn-lg
{
    font-size: 14px;

    float: left;

    margin: 28px 0 0 30px;

    border: 1px solid white;
    background-color: #86bc42;
}
.btn-lg:hover
{
    color: #86bc42;
    border: 1px solid white;
    background-color: white;
}
.conteiner-lang
{
    display: inline-block;

    width: 100%;
    margin-right: auto;
    margin-left: 0;
}
.lang-content
{
    width: 80%;
    margin-left: 10%;
}
.lang
{
    width: 150px;
    margin-top: 100px;

    border-radius: 2px;
    background-color: #edf4f8;
}
.lang > img
{
    position: relative;
    top: -55px;
    left: 20px;

    width: 110px;

    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.lang > h4,
.lang > p,
.btn-sm
{
    position: relative;
    top: -50px;

    text-align: center;
}
.btn-sm
{
    margin-left: 33px;

    border: 0;
    background-color: #6ebc42;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.btn-sm:hover
{
    background-color: #539031;
}
.conteiner-spec
{
    position: relative;
    top: -40px;

    display: inline-block;
    float: left;

    width: 450px;
    height: 1350px;
    margin-right: 50%;
    padding-top: 70px;

    background-color: #edf4f8;
}
.conteiner-spec > h3
{
    text-align: center;
}
.spec-main
{
    position: relative;
    top: -60px;
}
.spec-main > img
{
    position: relative;
    z-index: 99999;
    top: 60px;

    width: 380px;
    margin-top: 30px;
    margin-left: 20px;

    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.spec-block
{
    z-index: 1;

    width: 400px;
    margin-left: 10px;
    padding-top: 70px;
    padding-bottom: 15px;
    padding-left: 30px;

    border-radius: 3px;
    background-color: white;
}
.spec-block > button
{
    position: static;

    margin-left: 0;
}
.container-footer
{
    width: 100%;
    padding: 0;

    background-color: #838a91;
}
.footer-contacts
{
    display: inline-block;

    width: 100%;
    height: 600px;
}
.footer-block
{
    display: inline-block;
    float: left;

    width: 25%;
    height: 600px;

    background-color: #2d3e50;
}
.footer-tr
{
    display: inline-block;

    width: 0;
    height: 0;

    border-top: 600px solid #2d3e50;
    border-right: 400px solid transparent;
    border-left: 0 solid transparent;
}
.footer-cont
{
    position: relative;
    top: -15px;
}
.footer-cont-block
{
    font-size: 30px;

    position: relative;
    top: -32px;

    display: inline-block;

    width: 70%;
    height: 80px;
    padding-top: 17px;
    padding-right: 60px;

    text-align: right;

    color: white;
    background-color: #86bc42;
}
.footer-cont-tr
{
    display: inline-block;

    width: 0;
    height: 0;
    margin-left: -4px;

    border-top: 80px solid #86bc42;
    border-right: 80px solid transparent;
    border-left: 0 solid transparent;
}
.info-cont
{
    margin-top: 50px;
    padding-left: 40%;
}
.info-cont > p
{
    font-size: 18px;

    float: right;

    color: white;
}
.info-cont > img
{
    height: 50px;

    border-radius: 5px;
}
.media-content-title
{
    display: none;

    width: 100%;
    height: 100px;

    background-color: #86bc42;
}
.btn-group
{
    margin-right: 20%;

    background-color: #86bc42;
}
.navbar-toggle
{
    margin-top: 30px;
}
@media (max-width: 960px)
{
    .content-title-left
    {
        display: none;
    }
    .content-title-right
    {
        display: none;
    }
    .media-content-title
    {
        display: inline-block;
    }
}
@media (max-width: 1200px)
{
    .conteiner-spec
    {
        width: 100%;

        background-color: transparent;
    }
    .spec-block
    {
        background-color: #f7f7f7;
    }
    .spec-main
    {
        position: relative;
        left: -200px;

        margin-left: 50%;
    }
    .footer-tr
    {
        display: none;
    }
    .footer-block
    {
        width: 100%;
        padding-right: 30%;
        padding-left: 20%;
    }
    .info-cont
    {
        margin-left: 0;
        padding-left: 0;
    }
    .lang-content
    {
        margin: 100 auto;
    }
    .footer-cont
    {
        display: none;
    }
}
